@import 'reset.css';

@font-face{
	font-family: 'cabin';
	src: url("fonts/cabin/Cabin-Regular.otf");
}
@font-face{
	font-family: 'AgencyFB';
	src: url("fonts/Agency_FB.ttf");
}
/*<!-- =======================WHOLE=PAGE===================================== -->*/
body{
	margin: 0;
}
/*<!-- =======================HEADER===================================== -->*/
header{
	background-color: #f7df25;
	height: 200px;
	font-family: AgencyFB;
	padding-top: 40px;
	margin-top: -20px;
}
.familyPic{
	float: left;
	margin-top: -195px; 
}
.logo{
	display: block;
	margin: -2px auto 0 auto;
	border: 5px solid black;
	width: 608px;
}
.logo h1{
	font-weight: normal;
	text-align: center;
	font-size: 115px;
	border: 4px solid #000;
	color: #f42938;
	outline-style: solid; 
	outline-color: #f42938;
	outline-width: 2px;
	width: 600px;
	padding: 5px 0 12px 0;
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
}
.orderNow{
	float: right;
	font-size: 45px;
	color: #000;
	/*Top right bottom left*/
	margin: -115px 50px 0 0;
}
nav{
	display: inline-block;
	background-color: #f42938;
	width: 100%;
	font-size: 38px;
	z-index: 21;
	border: 3px solid black;
}
nav ul{
	display: block;
	margin: 0 auto 0 auto;
	width: 1000px;
	/*border: 1px solid black;*/
}
nav ul li{
	display: inline;
	list-style-type: none;
	padding: 0 25px 0 25px;
}
a:link, a:visited, a:hover, a:active{
	text-decoration: none;
}
a:link{
	color: white;
}
a:visited{
	color: white;
}
a:hover{
	color: #88a8db;
}
.active{
	background-color: #7a141c;
	color: #7a141c;
	/*text-decoration-color: #7a141c;*/
}
nav ul li{
	border-right: 4px solid #000;
}
nav ul li:last-child{
	border: none;
}
/*<!-- =======================BODY===================================== -->*/
h1{
	font-size: 36px;
	padding: 40px 0px;
	text-align: center;
	font-weight: bold;
}
h2{
	padding: 30px 0;
	font-size: 26px;
	text-align: center;
	font-weight: bold;
}
h3{
	font-size: 22px;
	padding: 30px 0;
	font-weight: bold;
}
.bodyContent{
	background-color: #fefbe6;
	/*Top left bottom right*/
	padding: 25px 0 20px 0;
	z-index: -5;
	font-family: cabin;
	font-size: 22px;
}
/*<!-- =======================FOOTER==================================== -->*/
footer{
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	background-color: #88a8db;
	justify-items: center;
	justify-content: center;
	padding-bottom: 10px;
}
.burgerDrawing{
	margin: 50px 40px;
	/*border: 1px solid red;*/
}
.hours h2, .location h2{
	font-family: AgencyFB;
	text-align: center;
	padding-bottom: 12px;
	font-size: 22px;
}
.hours, .location{
	padding-top: 5px;
	width: 225px;
	/*border: 3px solid black;*/
	margin-top: -10px ;
}
.hours p{
	text-align: left;
	padding-bottom: 15px;
	margin-left: 10px;
}
.hours, .location, .info{
	font-size: 17px;
	font-family: cabin;
}
.location p{
	text-align: center;
}
.info{
	text-align: center;
	width: 420px;
	margin-top: 45px;
	/*border: 3px solid black;*/
}
/*<!-- =======================HOME=PAGE===================================== -->*/
.aboutRest{
	margin: 20px auto 50px auto;
	width: 750px;
}
.aboutRest img{
	float: right;
	padding: 3%;
}
.ads{
	display: block;
	padding: 40px 0 20px 0;
	float: right;
	margin-top: 20px;
}
.ads ul{
	list-style-type: none;
	padding-bottom: 10px;
}
/*<!-- =======================MENU=SHEET===================================== -->*/
.menu h2{
	/*margin: 50px auto 0 auto;*/
	text-align: center;
	width: 400px;
	/*border: 1px solid red;*/
}
.menu{
	margin: 0 auto 0 auto;
	width: 1000px;
	padding-bottom: 20px;
	/*border: 1px solid red;*/
}
.menu ul{
	width: 470px;
	/*border: 1px solid blue;*/
}
.menu ul li{
	padding-bottom: 5px;
}
.menu .rightSide{
	margin-top: -1280px;
}
/*<!-- =======================Special=Events===================================== -->*/
.windowSlideShow{
	display: block;
	position: relative;
	margin: 0px auto 0 auto;
	width: 900px;
	overflow: hidden;
	/*border: 1px solid red;*/
}
.images{
	width: 750px;
	margin: 0 auto 0 auto;
}
.windowSlideShow figure, .dinner figure{
	position: absolute;
	opacity: 0;
}
.windowSlideShow figcaption{
  position: absolute;
  font-size: .8em;
  bottom: .55em;
  padding: .25em;
  color: #fff;
  background: rgba(0,0,0, .75);
  border-radius: 2px;
}
figure.show{
	opacity: 1;
  	position: static;
}
.dinNext, .next, .dinPrev, .prev{
  color: #f7df25;
  position: absolute;
  background: #f42938;
  top: 65%;
  z-index: 1;
  font-size: 3em;
  margin-top: -.75em;
  opacity: 1;
  /*user-select: none;*/
}
.dinNext:hover, .next:hover, .dinPrev:hover, .prev:hover{
  cursor: pointer;
  opacity: 1;
}
.next, .dinNext{
	right: 0;
	padding: 10px 6px 15px 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.prev, .dinPrev{
	/*left: 0;*/
	padding: 10px 10px 15px 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.images p, .sBparties p{
	padding: 15px;
}
.dinner{
	display: block;
	position: relative;
	/*width: 42%;*/
	overflow: hidden;
	/*border: 1px solid red;*/
}
.dinner figcaption, .sBparties figcaption{
  position: absolute;
  font-size: .8em;
  bottom: .55em;
  padding: .25em;
  color: #fff;
  background: rgba(0,0,0, .75);
  border-radius: 2px;
}
.theatreNight{
	margin: 0px auto 0 auto;
	width: 900px;
}
.sBparties{
	/*border: 1px solid blue;*/
	position: relative;
	width: 900px;
	margin: 0 auto;
}
.sBparties figure{
	margin-left: 190px;
}
/*<!-- =======================Catering=Form===================================== -->*/
.cateringForm{
	margin: 0px auto 0 auto;
	width: 800px;
}
.rightSide{
	float: right;
	margin-top: -150px;
}
.submitButton{
	width: 80px;
	padding: 15px;
	font-size: 26px;
}
.submitButton, .backToTop{
	border-top: 1px solid #96d1f8;
	border-bottom: 1px solid #000;
	color: #fff;
	background-color: #f42938;
	margin: 20px 0 0 60%;
    background: -webkit-gradient(linear, left top, left bottom, from(#f70303), to(#823636));
    background: -webkit-linear-gradient(top, #f70303, #823636);
    background: -moz-linear-gradient(top, #f70303, #823636);
    background: -ms-linear-gradient(top, #f70303, #823636);
    background: -o-linear-gradient(top, #f70303, #823636);
}
.submitButton:visited, .submitButton:active, .submitButton:link, .info a:visited, .info a:active, .info a:link{
	color: #fff;
}
.submitButton:hover{
   border-top-color: #782828;
   background: #782828;
   color: #ccc;
}
.smallText{
	padding: 5px;
	width: 750px;
	margin: 25px auto 0 auto;
}
/*<!-- =======================Meet the Family===================================== -->*/
.backToTop{
	text-align: center;
	margin-left: 800px;
	width: 60px;
	font-weight: bold;
	font-size: 60px;
	padding-top: 15px;
}
.backToTop:hover{
   border-top-color: #782828;
   background: #782828;
   color: #ccc;
}
.backToTop:visited, .backToTop:active, .backToTop:link{
	color: #fff;
}
.familyBio{
	width: 600px;
	/*border: 1px solid blue;*/
}
.famContainer{
	width:900px;
	margin: 0 auto;
	/*border: 1px solid blue;*/
}
.famPics ul li{
	list-style: none;
	padding-bottom: 75px;
}
.famPics{
	float: right;
	/*clear:both;*/
	margin-top: -1500px;
}
.familyBio p{
	padding-bottom: 85px;
}
/*============================Submit=Page=============================================*/
.submit{
	font-size: 45px;
	margin: 50px auto 0 auto;
	width: 70%;
}